.card {
    background-color: rgba(46, 37, 51, 0.373);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.search{
    width: 100%;
}
.search span {
    width: 10%;
    background-color: #411761;
    border: 1px #411761 solid;
    color: white;
}