html {
    height: 100%;
}

/* Verbergen des Scrollbalkens in Chrome */
/* Diese Regel betrifft den gesamten Körper (body) */
body {
    /* Versteckt den Scrollbalken, während das Scrollen weiterhin möglich ist */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Microsoft Edge */
  }
  
  /* Versteckt den Scrollbalken in Chrome und anderen WebKit-basierten Browsern */
  /* Diese Regel betrifft den eigentlichen Scrollbalken */
  /* Beachte: Dies funktioniert nur für ältere Versionen von Chrome, nicht unbedingt für aktuelle Versionen */
  ::-webkit-scrollbar {
    display: none;
  }

.btn {
    color: white !important;
    background-color: #5B1D8A !important;
}

.btn a {
    text-decoration: none !important;
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
}

.btn:hover {
    color: white !important;
    background-color: #2f1244 !important;
}

.btn.delete{
    color: rgb(255, 255, 255) !important;
    background-color: #b40e0e !important;
}

.btn.delete:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #560e0e !important;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText {
    color: #b40e0e;
    text-align: center;
    border: 0.5px solid rgb(253, 141, 141);
    background-color: #ffa9a9;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 5px rgb(244, 194, 194);
}

.successText{
    color: #0eb427;
    text-align: center;
    width: 50%;
    background-color: #adffa9;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(203, 244, 194);
    padding: 1%;
}

.error-text .password {
    text-align: start;
    padding-left: 2%;
}

.error-text .password span {
    margin-left: 3%;
}

.logout{
    margin-left: auto;
    margin-right: auto;
}
.logout *{
    margin-left: auto;
    margin-right: auto;
}
.logout *{
    font-size: 50px;
    color: white;
    padding:40%;
}