html {
    height: 100%;
}

.btn {
    color: white !important;
    background-color: #5B1D8A !important;
}

.btn a {
    text-decoration: none !important;
    color: white !important;
}
.btn:hover {
    color: white !important;
    background-color: #2f1244 !important;
}

.btn.delete{
    color: rgb(255, 255, 255) !important;
    background-color: #b40e0e !important;
}

.btn.delete:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #560e0e !important;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.errorText {
    color: #b40e0e;
    text-align: center;
    border: 0.5px solid rgb(253, 141, 141);
    background-color: #ffa9a9;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 5px 5px 5px rgb(244, 194, 194);
}

.error-text .password {
    text-align: start;
    padding-left: 2%;
}

.error-text .password span {
    margin-left: 3%;
}

.logout{
    margin-left: auto;
    margin-right: auto;
}
.logout *{
    margin-left: auto;
    margin-right: auto;
}
.logout *{
    font-size: 50px;
    color: white;
    padding:40%;
}