.continer {
    background-color: rgba(46, 37, 51, 0.373);
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    box-shadow: 5px 5px 10px #411761, -5px 5px 10px #411761;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.daten {
    width: 80%;
    grid-row: 2;
    grid-column: 1 / 3;
    margin-left: auto;
    margin-right: auto;
}

.daten span {
    width: 20%;
    background-color: #411761;
    border: 1px #411761 solid;
    color: white;
}

.continer h1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size: 6vh;
    grid-row: 1;
    grid-column: 1 / 3;
}

.quize,
.scoure {
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(46, 37, 51, 0.373);
    padding: 1%;
}

.quize {
    grid-row: 3;
    grid-column: 1 / 3;
}

.scoure {
    grid-row: 4;
    grid-column: 1 / 3;
}

.table {
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

.table>*>* {
    word-break: break-all;
}

.table td {
    padding-bottom: 1%;
    padding-top: 4%;

}

.table .labels {
    width: 20%;
}

.action {
    width: 10%;
}



.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 44px;
    height: 44px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #5B1D8A;
    border-color: #5B1D8A transparent #5B1D8A transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.center{
    width:10%;
    margin-left: auto;
    margin-right: auto;
}